.topicList-menu {
    width: 100%;
    height: 50PX;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 4PX 10PX;
    position: relative;
    .at-icon {
        font-size: 24PX;
    }
    .title{
        font-size: 20PX;
    }
    ._drawer{
        position: absolute;
    }
}
