.topic-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10PX 10PX;
}

.topic-list-item .headImg {
  width: 40PX;
  height: 40PX;
  min-width: 40PX;
}

.topic-list-item .item-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10PX;
}

.topic-list-item .item-main .item-title {
  display: flex;
  word-break: break-all;
  margin-bottom: 10PX;
}

.topic-list-item .item-main .item-title .title-oper {
  background-color: salmon;
  width: 46PX;
  height: 24PX;
  line-height: 24PX;
  font-size: 14PX;
  text-align: center;
  color: #fff;
  margin-top: 5PX;
  border-radius: 2PX;
}

.topic-list-item .item-main .item-title .title-oper.share {
  background-color: skyblue;
}

.topic-list-item .item-main .item-title .title-oper.ask {
  background-color: #c5c5c5;
}

.topic-list-item .item-main .item-title .title-text {
  flex: 1;
  font-size: 16PX;
  margin-left: 10PX;
}

.topic-list-item .item-main .item-info {
  display: flex;
  justify-content: space-between;
}

.topic-list-item .item-main .item-info .text {
  font-size: 14PX;
  color: #ccc;
}
